*,*::before,*::after {
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #f3f3f3;
  margin: 0;
  font-family: cursive;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #1b1b32;
  background-image: linear-gradient(to left ,rgba(0,0,0,0.6),rgba(161, 112, 112, 0.1)) ,url(Images/sign1.jpg);
  /* background-image: linear-gradient(115deg,rgba(150, 150, 153, 0.582),rgba(248, 248, 248, 0.288)),url(Images/sign1.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.content {
  background:rgba(50, 27, 47, 0.856);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
  margin-top: 40px;
}
li{
  list-style-type: none;
  color: white;
  font-size: 20px;
  font-family: cursive;
}
.disabled{ 
  opacity: 0.6;
  pointer-events: none;
}
.head{
  text-align: center;
  color: white;
  text-shadow: 3px 2px 2px  rgba(128, 128, 128, 0.842); 
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}
/* navbar */
.navbar-custom{
  text-shadow: 3px 2px 2px  rgba(128, 128, 128, 0.842); 
  background-color: rgba(50, 27, 47, 0.856);
}
.nav-link{
  color: white;
}
.navbar-brand{
  color: white; 
  text-shadow: 3px 2px 2px  rgba(128, 128, 128, 0.842); 
  font-family: cursive;
}
header a:hover{
  color: aqua;
}
header .navbar-toggler{
  border-color: white;
}
header .navbar-toggler-icon{
  background-color: white;
}
